/**
 * @group header-custom
 * @author kmturley
 **/

@custom-media --desktop (min-width: 1280px);

:root {
    --fontSize: 1rem;
    --fontSize2: 2rem;
}

:host {
    background-color: blue;
    display: block;
    transition: background-color .5s ease-out;
}

p {
    font-size: var(--fontSize);

    @media (--desktop) {
        font-size: var(--fontSize2);
    }
}