/**
 * @group header-custom
 * @author kmturley
 **/

@custom-media --tablet (min-width: 768px);

:root {
    --fontSize: 3rem;
    --fontSize2: 6rem;
}

p {
    background-color: red;
    font-size: var(--fontSize);

    @media (--tablet) {
        font-size: var(--fontSize2);
    }
}