/**
 * @group header-custom
 * @author kmturley
 **/

:host {
    background-color: blue;
    display: block;
    -webkit-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

p {
    font-size: 16px;
    font-size: 1rem
}

@media (min-width: 1280px) {

    p {
        font-size: 2rem;
    }
    }