/**
 * @group header-custom
 * @author kmturley
 **/

p {
    background-color: red;
    font-size: 16px;
    font-size: 1rem
}

@media (min-width: 768px) {

    p {
        font-size: 2rem
    }
    }